nav {
    background-image: url(https://s2.lmcdn.fr/multimedia/a91401465320/734875746a224/produits/peinture-a-effet-industrie-maison-deco-fer-blanc-4-kg.jpg?$p=hi-w795);
}

#deleteButton {
    background-color: rgba(202, 43, 43, 0.568) !important;
    border-color: rgba(196, 24, 24, 0.815) !important;
    width: 15%;
    height: 35px;
    margin-left: 84% !important;
    bottom: 0.5%;
    font-size: 100%;
    position: absolute;
}

#modifyButton {
    background-color: rgba(26, 77, 187, 0.568) !important;
    border-color: rgba(27, 71, 192, 0.815) !important;
    width: 40%;
    height: 35px;
    font-size: 100%;
    position: relative;
    margin-top: -12%;
    margin-bottom: 1%;
    margin-left: 1%;
}

#infoButton {
    position: absolute;
    margin-left: 79%;
    margin-top: 74%;
}

#imgAnnounce {
    height: 45% !important;
}

#title {
    margin-right: 30%;
}

#paw {
    position: relative;
    width: 30%;
    background-repeat: no-repeat;
}

#pawSpan {
    position: absolute;
    width: 10%;
    right: 40%;
}

#imgAdd {
    margin-top: 52%;
    width: 65%;
    margin-left: 18%;
}

.addCard {
    background-color: rgba(255, 255, 255, 0.393) !important;
    border-color: black !important;
    height: 92% !important;
}

.addCard:hover {
    background-color: rgba(255, 255, 255, 0.493) !important;
    border: 1px black solid;
}

.cardHeight {
    height: 75vh;
}

.card-body {
    background-image: url(https://s2.lmcdn.fr/multimedia/a91401465320/734875746a224/produits/peinture-a-effet-industrie-maison-deco-fer-blanc-4-kg.jpg?$p=hi-w795);
}

.imgAnnounce {
    height: 500px;
}

.cart {
    position: absolute;
    font-size: 200%;
    color: rgba(52, 52, 228, 0.829);
    margin-left: 62%;
    bottom: 5%;
}
.cart:hover {
    color: rgb(27, 24, 190);
    font-size: 202%;
}
.fav {
    position: absolute;
    font-size: 200%;
    margin-left: 55%;
    bottom: 5%;
    color: rgba(221, 60, 60, 0.74);
}
.fav:hover {
    color: rgb(252, 80, 103);
    font-size: 205%;
}

.subtitle {
    color: rgb(211, 34, 34);
}

.age {
    position: absolute;
    margin-left: 75%;
    top: 7%; 
}

.price {
    position: absolute;
    margin-left: 72%;
    bottom: 2%;
}

.filter {
    color: white;
    width: 8%;
}

.filter:hover {
    color: rgb(243, 231, 231)
}

.search {
    color: black;
    border-color: black;
}

.search:hover {
    color: rgba(255, 255, 255, 0);
    background-image: url(http://www.decadentdogs.com/wp-content/images/pawprint.png);
    background-size: 60% 110%;
    background-color: rgba(236, 229, 229, 0);
    background-position-x: 22px;
    background-position-y: -2px;
    background-repeat: no-repeat;
    border-color: rgba(85, 72, 72, 0.808);
}

.search:active {
    color: rgb(255, 255, 255);
    background-color: rgba(85, 72, 72, 0.808)!important;
    border-color: rgba(85, 72, 72, 0.808)!important;
}

.deleteCart {
    position: relative;
    top: 12%;
    left: -7%;
}

.cartTotal {
    color: white;
}