{% extends "base.html.twig" %}
{% block body %}
<div class="row">
    <div class="col-6 mb-3 mt-3">
        <div class="card">
            <img class="imgAnnounce" src="{{announce.image}}" alt="">
        </div>
    </div>
    <div class="col-6 mb-3 mt-3">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">{{announce.race}}</h3>
                <p class="card-text">
                    {{announce.description}}
                </p>
                {% if announce.age == 1 %}
                <h3 class="card-text age">Âge: {{announce.age}} an</h3>
                {% else %}
                <h3 class="card-text age">Âge: {{announce.age}} ans</h3>
                {% endif %}
                {% if app.user %}
                <a href="{{ path('addPanier',{animal: announce.id})}}"><i class="fas fa-cart-plus cart"></i></a>
                <a href="{{ path('add_favoris', {user: app.user.id, animal: announce.id})}}">
                <i class="fas fa-heart fav"></i>
                </a>
                {% endif %}
                <h3 class="card-text price">Prix: {{announce.price}} €</h3>
                <h5 class="card-subtitle mb-2 text-muted">Coordonées de l'éleveur:</h5>
                <p class="card-text">
                    <span class="subtitle">Adresse:</span> {{announce.address}} <br>
                    <span class="subtitle">Téléphone:</span> {{announce.phone}}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}